/*------IMPORT FONT-------*/

@font-face {
    font-family: 'Nostromo Medium', sans-serif;
    src: url("../../Fonts/NostromoRegular-Medium.otf");
}

/*------LAYOUT CLOSED-------*/

.fatherClosed {
    font-family: 'Nostromo Medium', sans-serif;
    width: 0;
    background-color: #121212;
    position: absolute;
    display: none;
}

.close {
    display: none;
}

.options {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: none;
}

.options li {
    list-style: none;
    margin-bottom: 2em;
}

.options li a {
    text-decoration: none;
    color: #00f475;
}

/*------LAYOUT OPEN-------*/

.show {
    position: absolute;
    top: 2px;
    left: 2px;
    font-size: 2em;
    color: #FFF;
    cursor: pointer;
}

.showX {
    position: absolute;
    top: 2px;
    right: 2px;
    font-size: 2em;
    color: #FFF;
    cursor: pointer;
}

.showX {
    list-style: none;
}

.father {
    background-color: #121212;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 4;
    font-family: 'Nostromo Medium', sans-serif;
    transition: 0.3s linear;
}

.menuOpen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 100%;
}

.menuOpen li {
    list-style: none;
    margin-bottom: 2em;
}

.menuOpen li a {
    text-decoration: none;
    color: #00f475;
}

@media screen and (max-width: 1150px) {
    .fatherClosed {
        display: flex;
    }
}
