/*---------IMPORT FONTS--------------*/

@font-face {
    font-family: 'Nostromo Bold';
    src: local('Nostromo'), url("../../Fonts/NostromoRegular-Bold.otf") format('truetype');
}

@font-face {
    font-family: 'Nostromo Heavy';
    src: local('Nostromo'), url("../../Fonts/NostromoRegular-Heavy.otf") format('truetype');
}

/*---------ROOT ELEMENTS--------------*/

.all {
    width: 100%;
    min-height: 100vh;
    background: #121212;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: #FFF;
}

.father {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*---------TEXTS--------------*/

.all p {
    font-family: 'Nostromo Bold';
}

.all h1 {
    display: block;
    font-size: 2em;
    margin-bottom: 2em;
    color: #00f475;
    font-family: 'Nostromo Heavy';
    width: 100%;
    text-align: center;
    margin: 0 auto;

}

/*---------BOXES--------------*/

.elements {
    width: 15em;
    height: 10em;
    background-color: #ccc;
    margin-left: 2em;
    border-radius: 1em;
    transition: 0.2s;
    cursor: pointer;
}

.elements p {
    font-size: 0.8em;
    width: 21em;
    height: 2em;
    background-color: #121212;
    color: #FFF;
    border-radius: 0.5em;
    text-align: center;
    transform: rotate(-50deg);
    margin-top: 6em;
    padding-top: 0.3em;
    font-family: 'Nostromo Bold';
}

.elements:hover {
    letter-spacing: 5px;
}

/*---------BUTTON--------------*/

.all button {
    width: 10em;
    height: 3em;
    border-radius: 0.5em;
    margin-top: 5em;
    cursor: pointer;
    transition: 0.3s;
    border: 1px solid #000;
    margin-bottom: 2em;
    font-family: 'Nostromo Bold';
}

.all button a {
    text-decoration: none;
    color: #222;
}

.all button:hover {
    background: #00f475;
}

/*---------RESPONSIVITY--------------*/

@media screen and (max-width: 840px) {
    .father {
        display: block;
        margin-right: 2em;
    }

    .all {
        height: 100%;
        text-align: center;
    }

    .elements p {
        width: 100%;
        position: relative;
        top: 65px;

    }

    h1{
        text-align: center;
    }
}
