@font-face {
    font-family: 'Nostromo Bold', sans-serif;
    src: url("../../Fonts/NostromoRegular-Bold.otf");
}

@font-face {
    font-family: 'Nostromo Medium', sans-serif;
    src: url("../../Fonts/NostromoRegular-Medium.otf");
}

.father {
    font-family: 'Nostromo Medium', sans-serif;
    width: 100%;
    background-color: #121212;
    color: #FFF;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    max-height: 100%;
}

.icons {
    width: 100%;
    background-color: #121212;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.father h2 {
    margin-bottom: 2em;
    color: #00f475;
    font-size: 2em;
    font-family: 'Nostromo Bold', sans-serif;
}

.firstP {
    margin-bottom: 4em;
}

.css,
.html,
.js,
.react {
    font-size: 3em;
    margin-bottom: 1em;
}

.react {
    color: aqua;
    cursor: pointer;
}

.js {
    color: yellow;
    cursor: pointer;

}

.html {
    color: red;
    cursor: pointer;

}

.css {
    color: blue;
    cursor: pointer;
}

.icons p {
    opacity: 0.5;
    transition: 0.2s;
}

.react:hover ~ p {
    opacity: 1;

}

.js:hover ~ p {
    opacity: 1;

}

.css:hover ~ p {
    opacity: 1;

}

.html:hover ~ p {
    opacity: 1;

}

span {
    color: #00f475;
}

@media screen and (max-width: 1150px) {
    .father {
        height: 100vh;
    }

    .firstP {
        display: none;
    }
}

@media screen and (max-width: 950px) {
    .father {
        flex-direction: column;
        height: 100%;
    }

    .icons {
        flex-direction: column;
    }

    .icons p {
        margin-bottom: 3em;
        opacity: 1;
    }

    .icons svg {
        margin: 0 0 0.5em;
    }
}
