/*-----------IMPORT FONTS-----------------*/

@font-face {
    font-family: 'Nostromo Regular';
    src: url("../../Fonts/NostromoRegular-Heavy.otf");
}

@font-face {
    font-family: 'Nostromo Bold';
    src: url("../../Fonts/NostromoRegular-Bold.otf");
}

@font-face {
    font-family: 'Nostromo Medium';
    src: url("../../Fonts/NostromoRegular-Medium.otf");
}

@font-face {
    font-family: 'Nostromo Heavy';
    src: url("../../Fonts/NostromoRegular-Heavy.otf");
}

/*-----------ROOT ELEMENTS-----------------*/

.father {
    background: #121212;
    width: 100%;
    color: #FFF;
    text-align: center;
    height: 61.2em;
}

.father h2 {
    font-family: 'Nostromo Heavy', sans-serif;
    font-size: 2em;
    margin-bottom: 1em;
    color: #00f475;
    margin-top: 5em;

}

.father p {
    font-family: 'Nostromo Medium', sans-serif;

}

/*-----------ICONS-----------------*/

.icons {
    margin-top: 1em;

}

.icons .react {
    color: aqua;
}

.icons .js {
    color: yellow;
}

.icons .css {
    color: blue;
}

.icons .html {
    color: red;
}

.icons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.iconsList svg {
    font-size: 3em;
    width: 70%;
}

.iconsList .js,
.react {
    margin-right: 1.2em;
}

.html,
.iconsList .css {
    margin-right: 0.6em;
}

.iconsList {
    margin-top: 3em;
}

.iconsList svg:hover {
    opacity: 0.3;
    cursor: pointer;
}

/*------------TEXTS---------------*/

.iconsList p {
    width: 80%;
    margin-top: 2em;
    opacity: 0.1;
    transition: opacity 0.3s;
    margin-left: 1em;
}

.iconsList span {
    color: #00f475;
    font-size: 0.8em;
}

.react:hover ~ div p {
    opacity: 1;
}

.css:hover ~ div p {
    opacity: 1;
}

.html:hover ~ div p {
    opacity: 1;
}

.js:hover ~ div p {
    opacity: 1;
}

/*------------RESPONSIVITY---------------*/

@media screen and (max-width : 564px) {
    .iconsList p {
        width: 10em;
    }

    .father h2 {
        margin-top: 5em;
    }

    .father {
        width: 34em;
        height: 100%;
        margin: 0 auto;
    }

    .firstP {
        display: none;
    }

    .icons {
        display: flex;
        flex-direction: column;
    }

    .icons svg {
        margin-left: 0.7em;
    }
}

@media screen and (max-width : 1140px) {
    .iconsList p {
        width: 10em;
    }

    .father {
        width: 65em;
        height: 100%;
    }

    .firstP {
        display: none;
    }

    .icons {
        display: flex;
        flex-direction: column;
    }

    .icons svg {
        margin-left: 0.7em;
    }
}
